<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
	    <property name="securityManager" ref="securityManager"/>
	    <property name="loginUrl" value="/login"/>
	    <property name="successUrl" value="/"/>
	    <property name="filters">
            <map>
                <entry key="sessionValidate" value-ref="sessionValidateFilter"/>
                <entry key="kickout" value-ref="kickoutSessionControlFilter"/>
                <entry key="authc" value-ref="loginFormAuthenticationFilter"/>
            </map>
        </property>
	    <property name="filterChainDefinitions">
	        <value>
	            /css/** = anon <!-- 匿名使用 -->
	            /js/** = anon 
	            /img/** = anon 
	            /images/** = anon
	            /fonts/** = anon  
	            /plugin/** = anon
	            /install/** = anon
	            /*.ico = anon
	            /system/getRegFile.action = anon
	            /sys/user/forgetPwd.action = anon
	            /linceseMes.action = anon
	            /system/i18n/** = anon
	            /anon/** = anon
	            <!--资产报备信息  -->
	            /android/toaShytAsset/** =anon
	            
	            /android/system/login4M.action = anon
	            /loginForDesktop = anon  <!--桌面精灵使用 -->
	            /content/attach/download.action=anon
	            /login = authc <!--shiro使用 表示需要认证 -->
	            /logout = anon <!--shiro使用 退出登录 -->
		   		/** = user <!--shiro使用 表示必须存在用户-->
		   		/** = sessionValidate,kickout
	        </value>
	    </property>
	</bean>
	
	<!-- 自定义过滤器 -->
	<bean id="sessionValidateFilter" class="com.jc.system.security.filter.SessionValidateFilter"/>
	<bean id="kickoutSessionControlFilter" class="com.jc.system.security.filter.KickoutSessionControlFilter"/>
	<bean id="loginFormAuthenticationFilter" class="com.jc.system.security.filter.LoginFormAuthenticationFilter"/>
	
	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="cacheManagerShiro" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
	</bean>
	
	<!-- 定义 Shiro 主要业务对象 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="systemRealm" />
		<property name="sessionManager" ref="sessionManager" />
		<property name="cacheManager" ref="cacheManagerShiro" />
	</bean>
	
	<!-- 项目自定义的 Realm 。-->
	<bean id="systemRealm" class="com.jc.system.security.SystemAuthorizingRealm"/>
    
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	  <constructor-arg value="sid"/>
	  <property name="httpOnly" value="true"/>
	  <property name="maxAge" value="-1"/>
	</bean>
	
	<!-- 配置session-->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
        <property name="sessionDAO" ref="sessionDAO" />
        <property name="sessionValidationInterval" value="3600000"/><!-- 相隔多久检查一次session的有效性 -->
        <property name="globalSessionTimeout" value="3600000"/><!-- session 有效时间为半小时 （毫秒单位）-->
    </bean>  
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>
	
</beans>