.widget {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px; 
}



.widget .table{
	margin: 0px;
	width: 100%;
}



.widget .table-bordered{
	border-radius: 0px;
	border: 0px;
}

.widget .table-bordered th{
	border-bottom: 1px solid #ddd !important;
}

.widget .table-bordered td{
	border-top: 0px !important;
	border-bottom: 1px solid #ddd !important;
	border-radius: 0px !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child{
	border-left: 0px;
}

.widget .table-bordered thead:first-child tr:first-child > th:first-child, 
.widget .table-bordered tbody:first-child tr:first-child > td:first-child {
	border-radius: 0px;
}

.widget .widget-head,.modal-header{
  background-color: #F5F5F5;

  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	color: #1a73af;
	font-size: 15px;
	font-weight: bold;
    padding: 8px 15px;
}
.widget-head-children{

  background-color: #f8f8f8;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	color: #555;
	font-size: 15px;
    height:30px;
}
.widget.wblack .table td{
	border-top: 1px solid #222;
}

.widget.wblack .table tr:hover{
	background: rgba(255,255,255,0.1);
}

